<div class="container">
  <h1>BlogPages#home</h1>
</div>

<br>

<div class="container">
    <h3>
      Hello mon pti pote !
    </h3>
    <br>
    <p>Si t'es ici c'est que je t'y ai invité ou que tu as été curieux et observateur.</p>
    <br>
    <div>
      <p> Dans tous les cas, bienvenue sur cet espace de partage.</p> 
      <p>Je vais me faire un peu plaisir et parler de ce que j'aime en rapport avec la programmation et mon activité de Développeur. </p>
    </div>
</div>

