<div class="container">
  <h3>
    Hello mon pti pote !
  </h3>
</div>

<br>

<div class="container">
    <div>
      <div>
        <p>Si t'es ici c'est que je t'y ai invité ou que tu as été curieux et observateur.</p>
      </div>
<br>
      <div>
        <p> Dans tous les cas, bienvenue sur cet espace de partage.</p> 
        <p>Je vais me faire un peu plaisir et parler de ce que j'aime en rapport avec la programmation et mon activité de Développeur. </p>
      </div>
<br>
<br>
      <div>
        <p>
          Je mettrai très certainement à disposition des outils que j'ai développé pour mes differentes activités.
        </p>
      </div>
    </div>
</div>

<div class="container">
  <div id="div-lessons">
    <% @all_lessons.each do |lesson|%>
      <div id="sub-div-lesson"><h2><%= link_to("Sujet n°#{lesson.number}", "#{lesson.url}") %></h2> </div>
      <div id="sub-div-lesson"> <h3>Titre: <%= lesson.title%></h3> </div>
      <div id="sub-div-lesson">Description:</div>
      <div id="sub-div-lesson"><%= lesson.description%> </div>
    <% end %>
  </>
</div>

