<header>
</header>
<div class="container-lesson">
  <h2>LESSON 1</h2>

  <h3>POST BOOTCAMP</h3>
  <div>
    <h4>-> Pré_recquis(beginner)</h4>
    <div>
      <ul>
        <li>HTML + CSS (+ Javascript)</li>
        <li>Un langage Back-end || Javascript vers Angular, React ou Vue</li>
          <ul>
            <li>Codewars: avoir réussi plusieurs katas 7 kyu</li>
          </ul>
        <li>Un framework</li>
        <li>Savoir apprendre: Avoir compris comment ton cerveau attrape la connaissance</li>
        <li>Regarder du contenu sans coder en même temps, c'est INTERDIT !!</li>
      </ul>
    </div>
    
    <h3> -->> THE EASY WAY IS THE HARD WAY <<-- </h3>
  </div>
  
  
  <h3>PART 1: PARLONS STRATEGIE</h3>
  <div>
    <h4>-> Observer()</h4>
      <div>
        <ul>
          <li>Etre conscient des avantages et des inconvénients des Bootcamps</li>
            <ul>
              <li>Les + </li>
              <ul>
                <li>Les bases d'un langage & d'un framework</li>
                <li>La capacité d'aller apprendre de nouvelles ressources</li>
              </ul>
              <li>Les - </li>
              <ul>
                <li>Une culture générale faible en programmation</li>
                <li>Des lacunes sur les fondamentaux</li>
                <li>Le manque de pratique, 3 mois c'est court</li>
              </ul>
            </ul>
            <br>
          <li>Avoir une vision juste et objective du monde du Développement</li>
          <li>Connaitre les différents "business models" viables et leurs avantages / inconvénients</li>
          <ul>
            <li>CDI</li>
            <li>Freelance</li>
            <li>Entrepreneur</li>
          </ul>
        </ul>
      </div>
    <h4> -> Penser_stratégie() </h4>
    <div>
      <ul>
        <li>Mes Objectifs: Court / Moyen (/ Long) Terme</li>
        <li>Mes Envies</li>
        <li>Mes Points Forts</li>
      </ul>
    </div>
    <h4>-> M'organiser()</h4>
    <div>
      <ul>
        <li>Temps(3..9 mois)</li>
        <p>Un Bootcamp de 3 mois c'est à peu près 600h; il faut que tu DOUBLES ce nombre (voir plus).</p>
      
        <li>Volonté</li>
          <ul>
            <li>Êtes-vous certains que vous voulez être Développeur ?</li>
            <li>Pourquoi ?</li>
          </ul>
      <br>
        <li>Objectifs</li>
          <ul>
            <li>Lifestyle ?</li>
            <li>Argent ?</li>
            <li>Passion ?</li>
            <li>Les 3 ?! &#128537 </li>
          </ul>
      </ul>
    </div>
  </div>

  <h3>PART 2: LET'S GO !!</h3>
  <div>
    <h4>-> Keep_learning()</h4>
    <div>
      <ul>
        <li>Mon 1e langage(youtube, *ressources)</li>
          <ul>
            <li>Reprendre les bases / combler mes lacunes</li>
            <li>Me mettre à jour sur les updates technologiques</li>
            <li>Travailler sur des projets concrets & motivants</li>
          </ul>
      <br>
        <li>Mon 2e langage(youtube, *ressources)</li>
          <ul>
            <li>Commencez un second langage (JavaScript reste un excellent choix quoi qu'il arrive)</li>
            <li>Si JS ne vous dit rien et que vous n'avez pas d'idées, faites comme moi, apprenez SQL</li>
            <li>Observez les tendances du marché & choisissez un langage complémentaire !! (et porteur)</li>
            <p>-> Ne pas choisir Python si vous avez déjà Ruby &#128517 (sauf si vous voulez transitionner sur Python)</p>
          </ul>
      </ul>
    </div>

    <h4>-> Know_my_environment()</h4>
    <div>
      <ul>
        <li>L'histoire de la programmation(wikipédia)</li>
          <ul>
            <li>La Programmation et ses paradigmes</li>
            <li>Les langages historiques</li>
            <li>L'évolution</li>
          </ul>
      <br>
        <li>La programmation aujourd'hui(wikipédia, youtube)</li>
          <ul>
            <li>Top Langages</li>
            <li>Top Entreprises</li>
            <li>Le Vocabulaire spécifique</li>
            <li>AGILE & Organisationnel</li>
            <li>DevOps</li>
          </ul>
      <br>
        <li>Les outils indispensables(youtube, *ressources)</li>
          <ul>
            <li>GitHub: merge, pull, push, pr, add remote branches, etc.</li>
            <li>Heroku (+ Aws, Ovh)</li>
          </ul>
      <br>
        <li>Les outils importants(youtube, *ressources)</li>
          <ul>
            <li>Circle CI</li>
            <li>Outils de gestion: Jira, Club_House, etc.</li>
            <li>Docker</li>
            <li>DB: SQL, No_SQL</li>
            <li>Outils de Testing</li>
          </ul>
      <br>
        <li>Les outils secondaires(youtube, *ressources)</li>
          <ul>
            <li>Paper_Trail</li>
            <li>App_Signal</li>
            <li>Redis</li>
            <li>Sidekiq</li>
            <li>etc.</li>
          </ul>
      </ul>
    </div>
    
    <h4>-> Work_smart()</h4>
    <div>
      <ul>
        <li>La panoplie du développeur</li>
          <ul>
            <li>Un Editeur de texte custom (VSCode !! &#128519)</li>
            <li>Une config décente (-> Apple Store 💸), (Mini: 13 pouces, 4Go RAM)</li>
          </ul>
      </ul>
    </div>
  </div>

  <h3>PART 3: ROAD TO DEV</h3>
  <div>
    <h4>-> Let_them_know()</h4>
    <div>
      <ul>
        <li>Créer une page personnelle</li>
          <ul>
            <li>Utilises ta techno préférée</li>
            <li>Coder "à la mano" et éviter les pages pré-faites</li>
            <li>Soyez simples et authentiques, parlez de ce vous aimez</li>
          </ul>
      <br>
        <li>Mettre à jour / Créer un profil LinkedIn</li>
      <br>
        <li>Créer un CV (de Dev)</li>
          <ul>
            <li><%= link_to 'Exemple', '../jpm-resume.pdf', download: 'jpm-resume.pdf' %></li>
            <li>Mettez-le en ligne sur les sites principaux</li>
              <ul>
                <li>LinkedIn</li>
                <li>Indeed</li>
                <li>LesJeudis</li>
                <li>Monster</li>
              </ul>
            <li>Tenez-vous à jour sur les annonces et répondez-y intelligement</li>
          </ul>
      </ul>
  </div>

    <h4>-> Mes_projets_perso()</h4>
    <div>
      <ul>
        <li>Trouver du business</li>
          <ul>
            <li>Utilisez vos contacts / proposez vos services gratuitement (au début)</li>
            <li>Créez du contenu pour remplir votre CV</li>
          </ul>
      <br>
        <li>Créez du contenu interessant</li>
          <ul>
            <li>Exploitez vos propres idées</li>
            <li>Codez des choses qui vous sont utiles</li>
          </ul>
      <br>
        <li>Contribuez à des projets open-source</li>
      </ul>
    </div>
  </div>

  <h3>PART 4: RECRUTEMENT</h3> 
  <div>

    <h4>-> Comprendre le marché()</h4>
    <div>
      <ul>
        <li>Objectifs</li>
          <ul>
            <li>Trouves un CDI frérot, c'est encore trop tôt pour le freelance</li>
            <li>Travailler pour des entrepreneurs c'est bien, mais ta courbe d'apprentissage va ralentir</li>
            <li>Travailler en start-up c'est bien mais au risque que ça manque d'organisation et de Devs séniors</li>
            <li>Cherches un projet d'envergure pour sortir au maximum de ta zone de confort</li>
          </ul>
      <br>
        <li>Les acteurs</li>
          <ul>
            <li>Les cabinets de recrutement</li>
            <li>Les ESN / SSII</li>
            <li>Les entreprises (utilisatrices)</li>
            <li>Les start-ups</li>
          </ul>
      <br>
        <li>Les salaires</li>
          <ul>
            <li>Junior: 35-40K/an</li>
            <li>Confirmé: 45-50K/an // 400€-jour</li>
            <li>Senior: 60-70K/an // 550-700€/jour</li>
          </ul>
      <br>
        <li>Les contrats</li>
          <ul>
            <li>CDI / CDD</li>
            <li>Freelance</li>
            <li>Portage</li>
          </ul>
      </ul>
    </div>

    <h4>-> Préparer un entretien(informations)</h4>
    <div>
      <ul>
        <li>L'entreprise</li>
        <li>Mon interlocuteur</li>
        <li>Les technos</li>
      </ul>
    </div>

    <h4>-> Réussir un entretien()</h4>
    <div>
      <ul>
        <li>Faites-en un maximum</li>
        <li>Ne vous sous-vendez pas en tant que Junior (35K mini en CDI)</li>
        <li>Soyez le plus solide possible techniquement, c'est la seule chose que vous pourrez réellement mettre en avant</li>
        <li>Parlez le même vocabulaire que les recruteurs</li>
        <li>Insistez pour qu'ils vous testent !!</li>
      </ul>
    </div>

    <h4>-> Réussir les tests techniques</h4>
    <div>
      <ul>
        <li>Codewars (± 5 kyu)</li>
        <li>HackerRank</li>
        <li>Utilisez un maximum de Gems / Librairies dans vos projets perso</li>
      </ul>
    </div>
  </div>

  <h3>Ressources</h3>
  <div>

    <h4>-> Ruby on Youtube</h4>
    <div>
      <ul>
        <li>Grafikart</li>
        <li>GoRails</li>
        <li>CodeStackR</li>
        <li>Cookie Connecté</li>
        <li>Drifting Ruby</li>
        <li>Zayne</li>
      </ul>
    </div>
  </div>

  <h4>-> Ruby conf on Youtube</h4>
  <div>
    <ul>
      <li><a target="_blank" href="https://www.youtube.com/watch?v=nZNfSQKC-Yk">Youtube: Post Bootcamp</a></li>
    </ul>
  </div>

  <h4>-> Scrimba</h4>
  <div>
    <ul>
      <li>Javascript</li>
      <li>Bootstrap</li>
      <li>TypeScript</li>
      <li>Angular</li>
      <li>React</li>
      <li>Vue</li>
    </ul>
    <a target="_blank" href="https://scrimba.com/">Scrimba.com</a>
  </div>

  <h4>-> Mike Dane</h4>
  <div>
    <ul>
      <li>SQL</li>
      <li>MongoDB</li>
    </ul>
    <a target="_black" href="https://www.mikedane.com/">MikeDane.com</a>
  </div>
</div>

