/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
	height: 100%;
	margin: 0;
	font-family: 'Lucida Console', Monaco, monospace;
}

header { 
  background-image: url('/assets/WP_1.jpg'); 
  height: 100%;

}

 /* LANDING PAGE */
#landing {

color: #BCBDC4;
}

#text-landing {
	
	font-size: xx-large;
	display: flex;
	flex-direction: column;
	text-align: center;

}

#text-name {
	padding: 10% 0 10px 0;
}

#text-name a {
	color: #530F0A;
}

#text-details a{
	color: #9B111E;
}

#logo {
	margin-top: 50px;
	color: #9B111E;
}
/* LANDING PAGE */

/* SKILLS PAGE */

#main-body-div {
	
}

#div-sub-1 {
	color: #9B111E;
}

#text-bootstrap {
	text-align: center;
	padding: 20px 0 20px 0;
	font-style: italic;
	font-size: large;
	background-color: #DDDEE6;
}

#code-title {
	text-align: center;
	padding: 40px 0 90px 0;
	margin-top: 40px;
	font-size: 50px;
}

#div-skill-logo {
	display: flex;
	justify-content: space-around;
	margin: 30px 10px 100px 10px;
}

#logo-bis {

	text-align: center;

}

#text-under-logo {
	align-items: center;
	margin-top: 20px;
	font-size: x-large;

}


#div-projects {
	background-color: #DDDEE6;
}
















