// Place all the styles related to the blog_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: Comfortaa;

#navbar {
  font-family: $font-stack;
}

#navbar a:hover {
  color: #9b111e; 
}

.container {
  a {
    color: #9b111e;
  }
  font-family: $font-stack;
  margin: 20px;

  #div-lessons {
    margin: 40px 0 0 20px;
    border: solid;
    border-radius: 5px;
    width: 40%;
    padding: 10px;
    
    #sub-div-lesson {
      margin-top: 10px;
    }
  }
}

.container-lesson {
  font-family: $font-stack;
  margin: 100px 20px 20px 80px;
  h3 {
    padding-top: 70px;
    margin-top: 30px;
    text-decoration: underline;
  }
  h4 {
    margin-top: 20px;
  }
  li {
    margin-top: 5px;
  }
  #punchline-title, 
  #pre-recquis-div {
    color: #9b111e; 
  }
  #split-side-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-side-div {
      
    }
    .middle-side-div {
      color: #9b111e;
      font-size: 50px;
    }
    .right-side-div {
      padding: 10px;
      border-radius: 5px;
      color: #9b111e;
      font-size: 30px;
    }
    .right-side-div-small {
      padding: 10px;
      border-radius: 5px;
      color: #9b111e;
      font-size: 20px;
      #space-between-div {
        display: flex;
        justify-content: space-between;
        .first-underline-word {
          margin-right: 20px;
        }
      }
    }
  }
}

