<div id="landing">
<div> <%= link_to 'Secret Page', blog_pages_home_path, class: 'hidden-blog' %></div>
	<div id="text-landing">
		<div id="text-name"> 
			Hi, I'm <a onclick="hiddenLink()">JP</a>.
		</div>
		<div id="text-details"> 
			I'm a Back-end Web Developer & I love <a>Ruby</a> !!
		</div>
		<div id="logo"><a href="#text-bootstrap"><i class="far fa-gem fa-3x"></i></a></div>
	</div>

</div>

<script>
	function hiddenLink() {
  	$(".hidden-blog").css("visibility", "visible");
	}
</script>