<div id="landing">
	<div id="text-landing">
		<div id="text-name"> 
			Hi, I'm <a>JP</a>.
		</div>
		<div id="text-details"> 
			I'm a Back-end Web Developer & I love <a>Ruby</a> !!
		</div>
		<div id="logo"><a href="#text-bootstrap"><i class="far fa-gem fa-3x"></i></a></div>
	</div>

</div>